body {
    background-color: #010D00;
    color: #5ABF56;
    text-align: center;
    font-size: 2em;
}

section {
    border: 4px ridge #034001;
    box-shadow: 6px 8px #022601;
    padding: 20px;
    width: 650px;
    margin: auto;
    text-align: left;
}

#num {
    width: 100px;
    height: 25px;
    font-size: 20px;
}

.butao {
    background-color: #F079F2;
    border: 3px ridge #034001;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

select {
    width: 200px;
}