body {
    text-align: right;
    background-image: url(rosas.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

header {
    
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 70px;
    
    
}

h1 {
    font-size: 40px;
    padding-top: 40px;
    color: rgb(117, 30, 30);
    text-shadow: 1px 1px rgb(183, 20, 224);
}

section {
    margin-right: 80px;
}

p {
    margin-bottom: 25px;
}

#palavra {
    width: 230px;
    font-size: 25px;
}

#butao {
    width: 140px;
    height: 40px;
    font-size: 20px;
    margin-right: 45px;
    background: rgb(214, 113, 235);
    color: white;
    
}

#res {

    margin: auto;
    font-size: 25px;
    color: rgb(191, 8, 228);
    background: white;
    display: inline;
    padding: 10px;
    
}