
html {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: linear-gradient(to right, rgb(223, 111, 20), rgb(248, 185, 10));
    
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    

}

#jogo {
    width: 90vw;
    text-align: center;
}

.logo {
    text-align: center;
}

.boneco1 {
    text-align: center;
}

.boneco2 {
    display: flex;
    align-items: center;
}   

.selecao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;

}

select {
    text-align: center;
    margin-bottom: 20px;
    padding: 0.5em 1.9em;
    font-size: 3vw;
    cursor: pointer;
    border-radius: 10px;
}

button {
    margin-bottom: 20px;
    padding: 1em 1em;
    font-size: 3vw;
    border-radius: 10px;
    background-color: rgb(168, 23, 23);
    color: white;
    border: 3px ridge black;
    cursor: pointer;
    
}

.img1 {
    width: 90vw;
}

.img2, .img4 {
    width: 40vw;
}

.img3 {
    width: 45vw;
}

.img5, .img6, .img7 {
    width: 30vw;
}

#nivel {
    width: 50vw;
}