@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {

    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }

    footer {
        height: 21vw;
        background-size: auto;
    }

    .rodape {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

}

/* tablet */

@media screen and (min-width: 769px) and (max-width: 992px) {
   

    menu {
        text-align: center;
    }   

    #itens ul a {
        font-size: 2.5vw;
        display: block;
        padding: 0.6em 1.9em;
        line-height: center;
        text-decoration: none;
        color: white; 
    }

    .contato h1 {
        font-size: 2.5vw;
        margin-bottom: 15px;
     }

     .contato  p {
        font-size: 2vw;
        margin-bottom: 15px;
     }
}      


/* desktops */

@media screen and (min-width: 993px) and (max-width: 1200px) {
    
    body {
        background-color: red;
    }

    menu {
        text-align: center;
        
        
    }  
    
    #itens ul a {
        font-size: 2vw;
        display: block;
        padding: 0.6em 1.9em;
        line-height: center;
        text-decoration: none;
        color: white; 
    }
   
    .contato h1 {
        font-size: 3vw;
        margin-bottom: 15px;
     }

     .contato  p {
        font-size: 2vw;
        margin-bottom: 20px;
     }
  
}

/* grandes telas */

@media screen and (min-width: 1201px) {
    

    menu {
        text-align: center;
    }   

    #itens ul a {
        font-size: 1.7vw;
        display: block;
        padding: 0.6em 1.9em;
        line-height: center;
        text-decoration: none;
        color: white; 
    }

    .contato h1 {
        font-size: 3vw;
        margin-bottom: 15px;
     }

     .contato  p {
        font-size: 2vw;
        margin-bottom: 20px;
     }
} 
