body {
    background-image: url('imagens/fundo.jpg');
    text-align: center;
    font-size: 2em
    
}

section {
    background-image: url('imagens/section2.jpg');
    border: 8px ridge #D996A2;
    width: 600px;
    margin: auto;
    border-radius: 8px;
    
}

h1 {
    color: #68acc5;
    text-shadow: 2px 2px black;
}

#txtano {
    width: 100px;
    height: 35px;
    font-size: 25px;
}

#res {
    margin: 20px;
}

img {
    margin-top: 15px;
}

#butao {
    background: #D996A2;
    font-size: 25px;
    width: 130px;
    box-shadow: 3px 3px #A4B8BF;
    border: 2px ridge #ECD5F2;
    color: #566B73;
    cursor: pointer;
}

footer {
    background-image: url('imagens/footer.jpg') ;
    opacity: 0.8;
    border-radius: 4px;
    color: #F2DCF1;
    text-shadow: 2px 2px black;
}

/* #D9B88F */